<h1>Add technology</h1>

<form action='/add' method='POST'>
	<div class='input-field col s6'>
		<input
			placeholder='Technology name'
			name='technologyName'
			id='title'
			type='text'
			class='validate'
			minlength='3'
			required
			value='{{formData.technologyName}}'
		/>
		<label for='title'>Technology name</label>
		<span
			class='helper-text'
			data-error='Enter tech name'
			data-success='right'
		></span>
	</div>
	<div class='input-field col s6'>
		<input
			placeholder='Duration of study'
			name='duration'
			id='time'
			type='text'
			class='validate'
			minlength='3'
			required
			value='{{formData.duration}}'
		/>
		<label for='title'>Duration of study</label>
		<span
			class='helper-text'
			data-error='Enter duration'
			data-success='right'
		></span>
	</div>
	<div class='input-field col s6'>
		<input
			placeholder='Image URL'
			name='imageURL'
			id='img'
			type='text'
			class='validate'
			minlength='10'
			required
			value='{{formData.imageURL}}'
		/>
		<label for='title'>Image URL</label>
		<span
			class='helper-text'
			data-error='Enter image URL'
			data-success='right'
		></span>
	</div>
	<input type='hidden' name='_csrf' value='{{@root.csrf}}' />
	<button class='btn waves-effect waves-light' type='submit'>Add technology
		<i class='material-icons right'>add</i>
	</button>
	{{#if addTechError}}
		<p class='alert'>{{addTechError}}</p>
	{{/if}}
</form>