<h1>Profile</h1>

<div class='row'>
	<div class='col s6'>
		{{#if user.avatarURL}}
			<img src='/{{user.avatarURL}}' alt='user profile avatar' style='max-width: 300px;' />
		{{else}}
			<p> No avatar...</p>
		{{/if}}
	</div>
	<div class='col s6'>
		<form action='/profile' method='POST' enctype="multipart/form-data">

			<p>Your email: <strong style="color: #26a69a;">{{user.email}}</strong></p>

			<div class='input-field'>
				<input
          style="margin-top: 20px;"
					placeholder='Name'
					name='name'
					type='text'
					class='validate'
					minlength='3'
					required
					value='{{user.name}}'
				/>
				<label for='name'  style="margin-top: 20px;">Your name:</label>
				<span
					class='helper-text'
					data-error='Enter your name. This field can not be empty or less than 3 characters.'
					data-success='right'
				></span>
			</div>

			<div class='file-field input-field'>
				<div class='btn'>
					<span>Upload avatar
            <i class='material-icons right'>file_upload</i>
          </span>
					<input type='file' name='avatar' />
				</div>
				<div class='file-path-wrapper'>
					<input class='file-path validate' type='text' />
				</div>
				<button
					class='btn waves-effect waves-light'
          style="margin-top: 20px; background-color: #2688a6;"
					type='submit'
				>Save
					<i class='material-icons right'>done</i>
				</button>
				<input type='hidden' name='_csrf' value='{{@root.csrf}}' />
			</div>

		</form>
	</div>
</div>