<h1>Stack</h1>

{{#if isStack.length}}
{{#each isStack}}
<div class="row">
    <div class="col s5 offset-s3">
      <div class="card">
        <div class="card-image">
          <img src="{{image}}" alt="{{techName}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{techName}}</span>
          <p class="duration">{{duration}}</p>
        </div>
        <div class="card-action">
          <a href="/stack/{{_id}}">Open technology
          <i class="material-icons tiny" style="position: relative; top: 2px;">zoom_out_map</i></a>
          {{#if @root.isAuth}}
          
            {{#ifEqual user_id @root.userId}}
              <a href="/stack/{{_id}}/edit?allow=true">Edit
                <i class="material-icons tiny" style="position: relative; top: 2px;">edit</i></a>
            {{/ifEqual}}

            <form action="/learningList/add" method="POST">
              <input type="hidden" name="_csrf" value="{{ @root.csrf }}" />
              <input type="hidden" name="id" value="{{_id}}" />
              <button class="btn btn-primary" type="submit" style="margin-top: 20px;">Start to learn</button>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{else}}
<p>No stack yet...</p>
{{/if}}
